doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/styles.css")
        link(rel="stylesheet", href="/student.css")
        script(src="/delete.js", defer="true") 
        title Document
    body 
        h1 Student Entry
        p 
            b Name: 
            input(type="text" value=`${firstName} ${lastName}`)
            br
        p
            b Email: 
            input(type="text" value=`${email}`)
            br
        p
            b Points: 
            input(type="text" value=`${points}`)
            br
        p 
            b GPA: 
            input(type="text" value=`${gpa}`)
