extends layout.pug

block css 
    link(rel="stylesheet", href="/student.css")

block js 
    script(src="/delete.js", defer="true") 


block content 
    h1 Student Entry
    div
        p 
            b First Name: 
        p=`${firstName}`

        p 
            b Last Name: 
        p=`${lastName}`

        p
            b Email: 
        p=`${email}`

        p
            b Points: 
        p=`${points}`

        p 
            b GPA: 
        p=`${gpa}`
        input(type="button", value="Delete", class="delete")
        input(type="button", value="Edit", class="put" onclick="location.href+='/edit'")
    
    form(action="edit", method="post" class="hidden")
        p 
            b First Name: 
        input(class="edit" type="text" name="firstName" value=`${firstName}`)
        p 
            b Last Name: 
        input(class="edit" type="text" name="lastName" value=`${lastName}`)
        p
            b Email: 
        input(class="edit" type="text" name="email" value=`${email}`)
        p
            b Points: 
        input(class="edit" type="text" name="points" value=`${points}`)
        p 
            b GPA: 
        input(class="edit" type="text" name="gpa" value=`${gpa}`)
        input(type="submit", value="Submit", class="submit")
        input(type="button", value="Exit", class="put" onclick="location.href+='/edit'")
