extends studentLayout.pug

block css 
    link(rel="stylesheet", href="/student.css")

block js 
    script(src="/delete.js", defer="true") 


block content 
    h1 Student Entry
    div
        p 
            strong First Name: 
        p=`${firstName}`

        p 
            strong Last Name: 
        p=`${lastName}`

        p
            strong Email: 
        p
            a(href=`mailto:${email}`)=`${email}`

        p
            strong Points: 
        p=`${points}`

        p 
            strong GPA: 
        p=`${gpa}`
        input(type="button", value="Delete", class="delete")
        input(type="button", value="Edit", class="put" onclick="location.href+='/edit'")
    
    form(action="edit", method="post" class="hidden")
        p 
            strong First Name: 
        input(class="edit" type="text" name="firstName" value=`${firstName}`)
        p 
            strong Last Name: 
        input(class="edit" type="text" name="lastName" value=`${lastName}`)
        p
            strong Email: 
        input(class="edit" type="email" name="email" value=`${email}`)
        p
            strong Points: 
        input(class="edit" type="number", min="0" name="points" value=`${points}`)
        p 
            strong GPA: 
        input(class="edit" type="number", step="0.01", min="0", max="4" name="gpa" value=`${gpa}`)
        input(type="submit", value="Submit", class="submit")
        input(type="button", value="Exit", class="put" onclick="location.href+='/edit'")
